[Unit]
Description=SCP Containment Unit Discord Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv
ExecStart=/srv/scp_containment_unit
Restart=always

[Install]
WantedBy=multi-user.target
